<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <nav>
      <% if (user) { %>
        <a href="/log-out">Logout</a>
        <a href="/profile">Profile</a>
      <% } else { %>
        <a href="/sign-in">Sign in</a>
        <a href="/sign-up">Sign up</a>
      <% } %>

      <% if (user && user.membership_status) { %>
        <a href="/new-message">Create a new message</a>
      <% } %>
    </nav>

    <% if (posts.length > 0) { %>
      <section class="posts-wrapper">
      <% posts.forEach(post => { %>
        <article class="post-container">
          <h2><%= post.title %></h2>
          <% if (user && user.membership_status) { %>
            <div class="post-details">
              <p>Posted by: <%= post.author.full_name %>, @<%= post.author.username %>.</p>
              <p><%= post.createdAt_formatted %></p>
            </div>
          <% } else { %>
            <div class="post-details">
              <p>You are not authorised to see this part of post.</p>
            </div>
          <% } %>
          <p><%= post.text %></p>
          <% if (user && user.admin) { %>
            <form action="" method="POST">
              <input type="hidden" name="messageId" value="<%= post._id %>">
              <button>Delete message</button>
            </form>
          <% } %>
        </article>
      <% }) %>
      </section>
    <% } %>
  </body>
</html>
